{% extends "index.html" %}

{% block main_content %}
    <section id="reserves">
        <div class="container">
            <div class="col-md-10 co-md-offset-1">
                {% for item in reservations %}
                    <div class="row">
                        <div class="col-md-2">
                            <a href="{% url 'main_page:update_reservation' pk=item.pk %}">
                                <button type="button" class="btn btn-primary">Close the order</button>
                            </a>
                        </div>
                        <div class="col-md-2">{{ item.name }}</div>
                        <div class="col-md-2">{{ item.phone }}</div>
                        <div class="col-md-2">{{ item.number_of_people }} persons</div>
                        <div class="col-md-2">{{ item.date|date:'d-m-Y' }}</div>
                        <div class="col-md-2">{{ item.time|time:"H:i" }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10"><p>{{ item.message }}</p></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}